<!--
  https://cloud.google.com/dialogflow/docs/integrations/dialogflow-messenger
-->
<style>
  df-messenger {
   --df-messenger-bot-message: #fed136;
   --df-messenger-button-titlebar-color: #fed136;
   --df-messenger-chat-background-color: white;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #fed136;
   --df-messenger-user-message: #2b2b2b;
  }
  #messageList .message.bot-message {
    border-radius: 3px;
  }
</style>
 
<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
      <df-messenger
        intent="WELCOME"
        chat-title="Arya"
        agent-id="f1cb77a8-d61a-47ee-9094-f4bfb7e6665b"
        chat-icon="img/Arya.png"
        language-code="en"
      ></df-messenger>
    </footer>
